header{
  text-align: center;
  margin-bottom: 20px;
}

.input-form{
  border: 1px solid gray;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.add-btn{
  display: block;
  width: 500px;
  margin: 20px auto;
}